asn1crypto==0.24.0
beautifulsoup4==4.7.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.18
django-htmlmin==0.11.0
django-lazysignup==2.0.0
djangorestframework==3.9.2
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
jwt==0.6.1
pycparser==2.19
PyJWT==1.7.1
pytz==2019.1
requests==2.21.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.24.2
webencodings==0.5.1
whitenoise==4.1.2
